In [1]:
#Import libraries
import numpy as np
import pandas as pd
import pickle

In [3]:
#Read data
data=pd.read_csv("/home/miano/Documents/DataGlacier/week3/flask/producer-prices_ken.csv")
data.head()

,Iso3,StartDate,EndDate,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,#country+code,#date+start,#date+end,NaN,#country+name,#indicator+code,#indicator+name,NaN,NaN,NaN,#date+year,NaN,NaN,#indicator+type,#indicator+value+num,NaN
1,KEN,1991-01-01,1991-12-31,114.0,Kenya,711,"Anise, badian, fennel, coriander",5539.0,Producer Price Index (2014-2016 = 100),1991.0,1991,7021.0,Annual value,NaN,26.000000,Im
2,KEN,1992-01-01,1992-12-31,114.0,Kenya,711,"Anise, badian, fennel, coriander",5539.0,Producer Price Index (2014-2016 = 100),1992.0,1992,7021.0,Annual value,NaN,27.000000,Im
3,KEN,1993-01-01,1993-12-31,114.0,Kenya,711,"Anise, badian, fennel, coriander",5539.0,Producer Price Index (2014-2016 = 100),1993.0,1993,7021.0,Annual value,NaN,20.000000,Im
4,KEN,1994-01-01,1994-12-31,114.0,Kenya,711,"Anise, badian, fennel, coriander",5539.0,Producer Price Index (2014-2016 = 100),1994.0,1994,7021.0,Annual value,NaN,24.000000,Im

In [4]:
data=data.drop(data[0,:])
data.head()

TypeError: unhashable type: 'slice'